.mobile{
  background-color: pink;
  width: 100%;
  height:40px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container{
 
  display: flex;
  justify-content: space-between;
}

.the1{
 background-color: blue; 
}
.the{
  border: 1px solid ;
  margin: 2px;
  margin-top: 10px;
  border-radius: 25px;
  width: 20px;
  
}

.menu{
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0px;
  left: 0px;
  z-index: 1000;
  background-color: pink;
  width: 100%;
}
.link{
  padding: 4px;
}
.trang1{
  
}
.tag{
  text-align: center;
  color:red;
}

.img{

}

.title{
  text-align: center;
}

.title1{
  text-align: center;
}

.btn{
  padding: 9px;
  margin: 13px;
  width: 100px;
  height: 47px;
  font-size: 20px;
  border:0;
  background-color: white;

}

.blue{
   color: blue;
}

/* html {
  scroll-behavior: smooth;
} */